.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    
    &.active {
        display: flex;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__window {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        background-color: var(--color-light);
        border: var(--border);
        border-radius: 16px;
        max-width: 500px;
        max-height: 290px;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 18px 30px;
        margin-inline: 20px;
        text-align: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__button-cancel,
    &__button-apply {
        padding-inline: 22px;
    }

    @media (prefers-color-scheme: dark) {
        &__window {
            background-color: var(--color-dark);
            color: var(--color-light); 
            border-color: var(--color-light);
        }
    }

    body.dark-theme & {
        &__window {
            background-color: var(--color-dark);
            color: var(--color-light); 
            border-color: var(--color-light);
        }
    }
}